#emits-history {
  border: 1px solid silver;
  width: 300px;
  float: left;
  height: 90%;
  padding: 5px;
}

.history-item .href {
  display: block;
  width: 100%;
  padding: 4px;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.history-item .href .event-name {
  background-color: #CC9900;
}

