#events-list {
  border: 1px solid silver;
  width: 100%;
  height: 400px;
  overflow-y: auto;
}

.event-io {
  border: 1px solid;
  padding: 5px;
  margin: 5px;
}

.on-event-io {
  border-color: blue;
}

.emit-event-io {
  border-color: green;
}

#event-wrapper1, #event-wrapper2 {
  border: 1px solid silver;
  float: left;
  margin: 10px;
  padding: 10px;
}

.event-wrapper p {
  vertical-align:top;
}

.btn-event-emit {
  cursor:pointer;
  background-color: black;
  color:white;
  padding:10px;
}

.event-name {
  width: 172px;
}

.no-close .ui-dialog-titlebar-close {
    display: none;
}
